<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HexDance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <HexDance.Properties.Settings>
      <setting name="ChromaKeyColor" serializeAs="String">
        <value>Magenta</value>
      </setting>
      <setting name="DoubleBuffered" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EffectDisplayTime" serializeAs="String">
        <value>00:00:00.5000000</value>
      </setting>
      <setting name="EffectDistance" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="EffectFillColor" serializeAs="String">
        <value>133, 181, 171</value>
      </setting>
      <setting name="EffectHexSize" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="EffectLineColor" serializeAs="String">
        <value>167, 226, 215</value>
      </setting>
      <setting name="GridBrightColor" serializeAs="String">
        <value>146, 236, 210</value>
      </setting>
      <setting name="GridDarkColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="GridDisplayTime" serializeAs="String">
        <value>00:00:00.7500000</value>
      </setting>
      <setting name="GridHexSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="GridQueueLength" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="GridSegmentCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Opacity" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="UpdateInterval" serializeAs="String">
        <value>00:00:00.0500000</value>
      </setting>
    </HexDance.Properties.Settings>
  </userSettings>
</configuration>
